<h1 class="text-center mt-3">L'artiste</h1>
<div class="container my-5">
  <div class="d-flex">
    <div class="col-4">
      <img src="https://picsum.photos/200/300?grayscale" alt="" class="w-100 h-100">
    </div>
    <div class="col-8">
      <p class="text-justify">Marco Bustamante est né dans le désert d'Atacama au nord du Chili. De ce désert, il a gardé la fascination des pierres, pierres qui portent en elles l'histoire et la mémoire de la terre, une dimension infinie du monde et une vérité intérieure qu'il essaie de retrouver à travers sa démarche d'artiste. Fasciné par les momies, les civilisations anciennes, il voulait être archéologue.</p>
      <br>
      <p class="text-justify">Dès son enfance, il dessine inlassablement, à la manière de l'écriture automatique des surréalistes et commence une série de cahiers, de carnets, journal intime où il laisse libre cours à son esprit : c'est son "moi" dans tous ses états ; les dessins c'est encore et toujours et maintenant dans l'anonymat des villes, au hasard des rencontres et des voyages.</p>
      <br>
      <p class="text-justify">Les pierres, il continue de les collecter, au Chili, en France, en Corée. Il les ramasse, les entasse et puis un jour dans l'atelier tout commence. C'est là, que, en communion totale avec la pierre, le processus artistique se déclenche : des formes s'élèvent, s'arrondissent, se transpercent. L'artiste rentre dans un dialogue profond avec la pierre ; dans un face à face, un corps à corps avec la matière, il défie le matériau, s'y confronte. Et à la manière d'un chamane, il libère l'énergie et le magnétisme de la pierre.
      Alors les formes apparaissent, jaillissent en irradiant l'espace. Une s’élance, telle une tour de Babel vers un au-delà inconnu, une autre se transperce, libérant un passage, un chemin, comme une étape nécessaire, inévitable, pour trouver une vérité intérieure, une connaissance intime de soi.</p>
      <br>
      <p class="text-justify">Cette exposition est un voyage, un vagabondage dans le monde sensible de l'artiste qui nous ouvre une porte vers une découverte de soi-même, et nous révèle à travers ses sculptures, ses états d'âme, ses états d'esprit.</p>
    </div>
  </div>
  <h3 class="col-12 mt-5">Expositions</h3>
  <div class="row">
    <div class="col-6">
      <ul>
        <li>1987-1992 - Drawing and visual Comunication University of Vina del Mar. Valparaiso. Chile.</li>
        <li>1990 - Participation in the exhibition Arte joven. Valparaiso. Chile.</li>
        <li>1991 - Participation X Bienal of Art Valparaiso. Chile.</li>
        <li>1996 - Workshop opened Under experimental reliefs. El arrayan. Santiago. Chile.</li>
        <li>1998 - Participation in the exhibition Printemps à Lavardens. Château de Lavardens. France.</li>
        <li>1998 - Participation in the exhibition Artistes dans le château. Flamarens. France.</li>
        <li>1999 - Workshop opened Marbre et Onyx. Mondon. France.</li>
        <li>1999 - Exhibition Vision d’art. Auch. France.</li>
        <li>2001 - Sculpture of great format Esperanza for Seoul’s Latin-American Museum. Korea.</li>
        <li>2001 - Collective exhibition U.N. world peace art exhibition. Seoul. Korea.</li>
        <li>2002 - Collective exhibition The nature for 21 artists. Gochan. Korea.</li>
        <li>2003 - Exhibition States of spirit. Seoul. Korea</li>
        <li>2003 - Collective exhibition Flags for the peace. Museum of Contemporary art Seoul. Korea</li>
        <li>2004 - Collective exhibition U.N. world peace art exhibition. Seoul Korea.</li>
        <li>2004 - Contemporary Latin-American artists. Galeria bellarte. Seoul. Korea.</li>
        <li>2004 - Exhibition Esencial. Centro Cervantes. Daegu. Korea</li>
        <li>2004 - Exhibition Happy Days gallery GoDo Seoul. Korea.</li>
        <li>2005 - Collective exhibition Nam Nam Puk Nyo. Gana Gallery. korea.</li>
        <li>2006 - Workshop opened Marco in dalheim. Luxembourg.</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li>2006 - Sculpture Symposium Sculptures dans la rue 2006. Rodemack. France</li>
        <li>2006 - 4 personnes 4 chemins. Dalheim. Luxembourg.</li>
        <li>2007 - Portes ouvertes. Les Frigos. Paris.</li>
        <li>2007 - Participation L`artiste et ceux qui le soutiennent. Tajan. Paris.</li>
        <li>2008 - Exhibition Formes .”Galerie en atelier”. Aroa. Paris.</li>
        <li>2008 - Portes ouvertes. Les Frigos. Paris.</li>
        <li>2008 - Art d’Après-Guerre et Contemporain. Tajan. Paris.</li>
        <li>2009 - Synergie Fugace Abbaye Neumunster. Luxembourg.</li>
        <li>2009 - Sculpture Symposium 9e Gare Art Festival. Luxembourg.</li>
        <li>2009 - Del salon azul al bicentenario.Embassy of Chile in Brussels, Belgium </li>
        <li>2010 - Portes ouvertes. Les Frigos. Paris.</li>
        <li>2011 - Sculptures Marco Bustamante Banque Fortuna. Luxembourg.</li>
        <li>2012 - Invité aux Portes ouvertes des Frigos. Paris.</li>
        <li>2012 - Mise en place d’un atelier de sculpture pour Eis Schoul, Luxembourg.</li>
        <li>2013 - Ouverture de l’atelier d’art.“Atelier 12“ Dommeldange, Luxembourg.</li>
        <li>2013 - Collaboration avec le service Treff-Punkt et Staatlech Kannerheemer dans le project “Lueurs d’espoir“, Luxembourg.</li>
        <li>2014 - Residence d’artiste dans le cadre du “Beppu Project“, Japon.</li>
        <li>2014 - Exhibition “through the Waters“ Institut francais Fukuoka, Japon.</li>
        <li>2015 - Residence d’artiste “Wirrarica to Wiracuta“, Mexico.</li>
        <li>2016 - Garden Project “The Whenua“ Kura Waka (Stichting Sacred House of Learning), Holland.</li>
      </ul>
    </div>
  </div>
</div>
