<h1 class="text-center my-3">Dashboard</h1>
<div class="container">
  <ul>
    <li><%= link_to "Ajouter une oeuvre", new_artwork_path, class: "" %></li>
    <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "" %></li>
  </ul>
</div>
