<h1 class="text-center mt-3">L'atelier</h1>
<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <div class="cards-w mb-2">
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
      </div>
      <div class="cards-w mb-2">
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
      </div>
      <div class="cards-w mb-2">
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
      </div>
      <div class="cards-w mb-2">
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
        <div class="card-category-w opacity">
          <img src="https://picsum.photos/200/300?grayscale" alt="" class="card-category-w">
        </div>
      </div>
    </div>
    <div class="col-6">
      <p class="text-justify">L'atelier est pour Marco Bustamante une sorte de sanctuaire où l'esprit rencontre la matière ; c'est le lieu dans lequel l'idée va prendre une forme physique et va se définir telle que l'artiste l’a imaginé. Entrer dans cet atelier c’est comme franchir les portes d’un univers autre. Harmonie des formes, rencontre audacieuse d’objets hétéroclites, expression libre d’une spiritualité foisonnante témoignent de la richesse du monde de l’artiste.  ’’est tout autant un lieu de création qu Il partage "l'Atelier 12" avec Fabricio Lopez, un peintre d'origine chilienne lui aussi, ce qui donne un mélange d'oeuvres impressionnant, faisant de l'endroit un lieu unique où l'on se déplace entre sculptures et peintures.</p>
      <br>
      <p class="text-justify">« L'Atelier 12 » se situe au sein du site d'Arcelor Mittal de Dommeldange, dans la ville de Luxembourg. Il existe un certain paradoxe entre ces structures industrielles et les ateliers d'artistes qui s'y trouvent et cette opposition entre art et industrie génère une atmosphère exceptionnelle !</p>
    </div>
  </div>
</div>
