// .nav-a {
//   text-decoration: none;
//   color: black;
//   opacity: 0.5;
// }

// .nav-a:hover {
//   text-decoration: none;
//   color: black;
//   opacity: 1;
// }

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 0px 16px;
  opacity: .6;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined:hover .tab-underlined:hover {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
